*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
}


/*Header*/

header
{
    display: flex;
    flex-direction: column;
    max-width: auto;
    margin-top: 0px;
    border-bottom:1px solid black;
    box-shadow: 0px 0px 10px#2c2c2c;
    padding-top: 1rem;
    align-items: center;
    padding-left: auto;
    padding-right: auto;

}

a#nomeloja
{
    text-decoration: none;
    color: black;
}

.link
{
    text-decoration: none;
    color: black;  
}

h1#primeira
{
    margin-right: 9rem;
}

img#lupa
{
    width: 1.5rem;
    background-color: white;
    height: auto;
}

button#imglupa
{
    padding: 1rem;
    background-color: white;
    border: none;
}

.naveg
{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    position: sticky;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

div#acrescimo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25rem;
}

nav ul
{
    display: flex;
    list-style: none;
    align-items: center;
}

button
{
    cursor: pointer;
}

nav ul li
{
    margin-right: 1.5rem;
}

nav ul li:hover
{
    box-shadow: 0px 0px 2px gray;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 2px;
    font-weight: bold;
}

input#pesquisa
{
    height: 2rem;
    width: 15rem;
}

div#log
{
    width: auto;
    height: auto;
    margin-left: 2rem;
}

div#cad
{
    width: auto;
    height: auto;
    margin-left: .5rem;
    margin-right: 1rem;
}

.botaoacrescimo
{
    width: 7rem;
    height: 2.2rem;
    border-radius: 10px;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


div#lista
{
    margin-left: 1rem;
}


@media (max-width: 1440px)
{
    .naveg
    {
        flex-direction: column;
    }

    div#acrescimo
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 1rem;
        justify-self:center;
        order: 0;
        margin-bottom: 0rem;
        margin-top: 1rem;
    }

    div#lista
    {
        justify-self: center;
        order: 1; 
    }

    header
    {
        padding-bottom: 1rem;
    }

    h1#primeira
    {
        margin-left: 7rem;
    }

    div#cad
    {
        margin-right: 0rem;
    }


    div#log
    {
        margin-left: 1rem;
    }
}

@media (max-width: 610px)
{
    div#acrescimo
    {
        flex-wrap: wrap;
        order: 0;
    }

    input#pesquisa
    {
        width: 28rem;
        margin: .5rem;
    }

    div#log
    {
        margin-left: 7rem;
    }

    header
    {
        padding-bottom: 2rem;
    }

    
}


@media (max-width: 553px)
{
    div#acrescimo
    {
        flex-wrap: wrap;
    }

    input#pesquisa
    {
        width: 20rem;
        margin-left: 3rem;
    }

    div#log
    {
        margin-left: 6.5rem;
    }

    h1#primeira
    {
        margin-right: 5rem;
        margin-left: 4rem;
    }

}

/*Header*/


/*Main*/
main
{
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.compartimentosvitrine
{
    display: flex;
    flex-direction: row;
}


.fotosvitrine
{
    border: 1px solid rgb(100, 100, 100);
    width: 14rem;
    height: 18rem;
    margin-top: 1rem;
    margin-left: 0.50rem;
    margin-right: 0.50rem;
    background-image: url(../img/modapraia.jpg);
    background-size: cover;
}

.fotosvitrine:hover
{
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
    width: 14.5rem;
    height: 18.5rem;
    transition: 0.5s;
}


.quatro
{
    display: flex;
    flex-direction: row;
    margin-left: 2.4rem;
}

.margemparagrafo
{
    margin-left: 0.50rem;
}

div#esquerda
{
    display: flex;
}

div#fotoproduto
{
    border: 1px solid rgb(100, 100, 100);
    width: 28rem;
    height: 40rem;
    margin-top: 1rem;
    margin-left: 20rem;
    margin-right: 0.50rem;
    background-image: url(../img/modapraia.jpg);
    background-size: cover;
}


div#cima
{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

div#direita
{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-top: 1rem;
}


div#baixo
{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

div#outrosprodutos
{
    align-self: center;
}

p#nomeproduto
{
    font-size: 1.1rem;
    font-weight: bold;
}

p#preco
{
    margin-top: .5rem;
    font-size: .98rem;
}

p#titulodescricao
{
    margin-top: 5rem;
    font-size: 0.88rem;
}

p#descricao
{
    font-size: 0.87rem; 
    width: 15rem; 
}

p#avaliacao
{
    margin-top: 1.5rem;
}

button#botaotabela
{
    margin-top: 1rem;
    background-color: rgb(220, 220, 220);
    width: 8rem;
    height: 1.5rem;
    font-size: .8rem;
    font-weight: bold;
    border-radius: .2rem;
    border: none;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
}

button#botaocomprar
{
    background-color: rgb(220, 220, 220);
    border-radius: .2rem;
    border: none;
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
    height: 1.6rem;
    margin-top: 10rem;
    font-size: .9rem;
}

p#estrela
{
    font-size: 2rem;
}

@media(max-width: 1500px)
{
    .quatro
    {
        flex-direction: column;
        align-items: center;
    }

    .fotosvitrine
    {
        width: 22rem;
        height: 26rem;
        margin-top: 1rem;
        margin-left: 0.50rem;
        margin-right: 0.50rem;
    }

    .fotosvitrine:hover
    {
        box-shadow: 0px 0px 5px rgb(100, 100, 100);
        width: 22.5rem;
        height: 26.5rem;
        transition: 0.5s;
    }
}

@media(max-width: 1230px)
{
    div#cima
    {
        flex-direction: column;
        
    }

    div#direita
    {
        margin-left: 15rem;
    }

    button#botaocomprar
    {
        width: 40rem;
        height: 1.6rem;
        margin-top: 4rem;
        font-size: .9rem;
    }

    p#titulodescricao
    {
        margin-top: 3rem;
    }

    p#descricao
    {
        width: 40rem;
    }
    
}

@media(max-width:970px)
{
    div#fotoproduto
    {
        margin-left: 12rem;
    }

    div#direita
    {
        margin-left: 7rem;
    }

    button#botaocomprar
    {
        width: 30rem;
        height: 1.6rem;
        margin-top: 4rem;
        font-size: .9rem;
    }

    p#descricao
    {
        width: 30rem;
    }

}



@media(max-width: 850px)
{
    .fotosvitrine
    {
        width: 18rem;
        height: 22rem;
        margin-top: 1rem;
        margin-left: 0.50rem;
        margin-right: 0.50rem;
    }

    .fotosvitrine:hover
    {
        box-shadow: 0px 0px 5px rgb(100, 100, 100);
        width: 18.5rem;
        height: 22.5rem;
        transition: 0.5s;
    }

}


@media(max-width:710px)
{
    div#fotoproduto
    {
        margin-left: 5rem;
    }

    div#direita
    {
        margin-left: 3rem;
    }

    button#botaocomprar
    {
        width: 30rem;
        height: 1.6rem;
        margin-top: 4rem;
        font-size: .9rem;
    }

    p#descricao
    {
        width: 30rem;
    }

}


@media(max-width: 700px)
{
    .fotosvitrine
    {
        width: 12rem;
        height: 16rem;
        margin-top: 1rem;
        margin-left: 0.50rem;
        margin-right: 0.50rem;
    }

    .fotosvitrine:hover
    {
        box-shadow: 0px 0px 5px rgb(100, 100, 100);
        width: 12.5rem;
        height: 16.5rem;
        transition: 0.5s;
    }

}


@media(max-width:600px)
{
    div#fotoproduto
    {
        margin-left: 1rem;
    }

    div#direita
    {
        margin-left: 1rem;
    }

    button#botaocomprar
    {
        width: 25rem;
        height: 1.6rem;
        margin-top: 4rem;
        font-size: .9rem;
    }

    p#descricao
    {
        width: 25rem;
    }

}

/*Main*/




/*Footer*/

footer
{
    display: flex;
    flex-direction: column;
    max-width: auto;
    margin-top: 0px;
}

/*Primeira div do footer*/

div#primeirodivfooter
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
    background-color: #2c2c2c;
    color: white;
    height: 10rem;
    font-size: 20px;
    font-weight: bold;
}

div#footercadastrar
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 12rem;
    align-items: center;
}



div#sociais
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10rem;
}

.imgsocial
{
    width: 3rem;
    height: auto;
    margin-left: 1rem;
    cursor: pointer;
}

input#cadastrar
{
    height: 2rem;
    width: 20rem;
}


div#imagemsocial
{
    display: flex;
    flex-direction: row;
}

/*mediaquery da primeira div*/

@media (max-width: 1180px)
{
    div#primeirodivfooter
    {
        height: 12rem;
    }

    div#footercadastrar
    {
       flex-direction: column; 
    }

    div#sociais
    {
        flex-direction: column;
    }


}

@media (max-width: 837px)
{
    div#primeirodivfooter
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20rem;
    }

    div#footercadastrar
    {
       margin-left: auto;
       margin-bottom: 1rem;
       margin-right: auto;
    }

    div#sociais
    {
        margin-left: 9.5rem;
    }


}

/*Segunda div do footer*/
div#segundadivfooter
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}


div#informacoes
{
    display: flex;
    flex: row;
    margin-top: 5rem;
    font-size: .9rem;

}

div#detalhes
{
    width: 100%;
}

.palavrasinformacoes
{
    font-size: .7rem;
    margin-top: 1rem;
}


div#institucional
{
    margin-left:10rem;
}

div#atendimento
{
    margin-left: 10rem;
}

div#pagamento
{
    margin-left: 10rem;
    margin-right: auto;
}

div#politica
{
    margin-left: 10rem;
}

div#institucionalatendimento
{
    display: flex;
    flex-direction: row;
}


div#colecaopagamento
{
    display: flex;
    flex-direction: column;
}

.ordempagamento
{
    display: flex;
    flex-direction: row;
}

.imgpagamento
{
    width: 2.3rem;
    height: auto;
    margin-right: 2rem;
    margin-top: 1rem;
}

div#institucionalatendimento
{
    display: flex;
    flex-direction: row;
}

div#politicapagamento
{
    display: flex;
    flex-direction: row;
}

@media(max-width: 1238px)
{
    
    div#segundadivfooter
    {
        justify-content: center;
    }
    div#informacoes
    {
        flex-direction: column;
        margin-left: 12rem;
    }

    div#pagamento
    {
        margin-left: 8rem;
        margin-right: auto;
    }

    div#politicapagamento
    {
        margin-top: 4rem;
    }


}


@media(max-width: 1140px)
{
    div#informacoes
    {
        flex-direction: column;
        margin-left: 10rem;
    }
}


@media(max-width: 990px)
{
    div#informacoes
    {
        margin-left: auto;
    }

    div#segundadivfooter
    {
        align-items: center;
    }

    div#institucionalatendimento
    {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        width: auto;
        padding: auto;
        justify-content: left;
    }

    div#politicapagamento
    {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        width: auto;
        justify-content: left;
    }

    h1#segunda
    {
        margin-left: auto;
        margin-right: auto;
    }

    div#institucional
    {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        align-items: center;
        justify-content: center;
    }

    div#atendimento
    {
        margin-top: 2rem;
        width: auto;
        margin-left: 0rem;
        margin-right: auto;
        margin-bottom: auto;
        align-items: center;
        text-align: left;
    }

    
    div#politica
    {
        width: auto;
        margin-left: 1.6em;
        margin-right: 0rem;
        margin-bottom: auto;
        align-items: center;
        
    }

    div#pagamento
    {
        margin-top: 2rem;
        width: auto;
        margin-left: 1.6rem;
        margin-right: auto;
        margin-bottom: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .centralizartitulo
    {
        margin-right: 0.6rem;
    }
}

/*Segunda div do footer*/




/*Terceira div do footer*/
div#terceiradivfooter
{
    display: flex;
    flex-direction: row;
    background-color: rgb(100, 100, 100);
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-weight: bold;
    color: rgb(200, 200, 200);
    width: auto;
}

/*Terceira div do footer*/

/*Footer*/